<%= link_to 'Back', posts_path, class: 'btn btn-secondary mb-3' %>

<div class="row">
	
	<div class="col-md-3">
		
	  <div class="card">
		  
		  <div class="card-body">
			  
			  <h4 class="card-title">Editing Post</h4>
			  <%= render 'form', post: @post %>
		  </div>
	  </div>
	  
	 </div>
 </div>




