<!DOCTYPE html>
<html>
  <head>
    <title>SimpleBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-ligth">
	  <div class="container">
	  	  	<p class="notice"><%= notice %></p>
	  		<p class="alert"><%= alert %></p>
	      	<%= yield %>
	  </div>
  </body>
</html>
